html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.to-do {
  background-color: #2e89dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  color: white;
  // text-align: center;

    &__header {
      font-size: 40px;
      font-weight: bold;
      margin: 40px;
    }

    &__main-input {
      border: none;
      background-color: #fff;
      height: 40px;
      padding: 10px;
      &:focus {
        outline: none;
      }
    }

    &__btn {
      color: #000;
      background-color: #fff;
      height: 40px;
      padding: 10px;
      border: none;
      font-weight: bold;
      cursor: pointer;
      margin-right: 4px;
      &:focus {
        outline: none;
      }
      &--save {
        margin: 20px
      }
    }

    &__entry {
      display: flex;
      justify-content: space-evenly;
      width: 80%;
      border-bottom: 1px solid #fff;
      padding: 20px;
      align-items: center;
    }

    &__text {
      width: 100%;
      &--completed {
        text-decoration: line-through;
      }
    }

    &__actions {
      width: 245px;
    }

    &__checkbox-wrapper {
      vertical-align: middle;
      display: inline-block;
    }

    &__checkbox {
      position: absolute; // take it out of document flow
      opacity: 0; // hide it

      & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
      }

      // Box.
      & + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 40px;
        height: 40px;
        border: 2px solid #fff;
      }

      // Box checked
      &:checked + label:before {
        background: #fff;
      }

      // Checkmark. Could be replaced with an image
      &:checked + label:after {
        content: '';
        position: absolute;
        left: 10px;
        top: 16px;
        background: #2e89dd;
        width: 5px;
        height: 5px;
        box-shadow: 4px 0 0 #2e89dd, 8px 0 0 #2e89dd, 8px -4px 0 #2e89dd, 8px -8px 0 #2e89dd, 8px -12px 0 #2e89dd, 8px -16px 0 #2e89dd;
        transform: rotate(45deg);
      }
    }

    // &__complete-label {
    //   display: block;
    //   height: 40px;
    //   width: 40px;
    //   background: #fff;
    // }

    &__validation {
      background-color: #ffe8e8;
      color: #ff0000;
      border: 1px solid #ff0000;
      text-align: center;
      padding: 10px;
      margin: 20px;
      font-size: 15px;
    }
}
